---
- name: disable SELinux on reboot
  selinux:
    state: disabled
  notify: Reboot ALL machines

- name: Install firewalld package
  yum:
    name: firewalld
    state: present
    
- name: disable firewall service for labs
  service:
    name: firewalld
    state: stopped
    enabled: false

- name: Enable Root Login
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^PermitRootLogin"
    line: "PermitRootLogin yes"
    state: present
    backup: yes
  become_user: root
  notify:
  - Restart SSH

- name: Install basic packages
  dnf:
    name:
      - wget
      - vim
      - git
    state: present
    update_cache: true

- name: Install Java
  dnf:
    name:
      - java-11-openjdk
      - java-11-openjdk-devel
    state: present

- name: Install Maven
  dnf:
    name: maven
    state: present

- name: Download Long Term Jenkins release
  get_url:
    url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo

- name: Import Jenkins key from URL
  rpm_key:
    state: present
    key: https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key

- name: DNF update
  dnf:
    name: "*"
    state: latest

- name: Install Jenkins
  dnf:
    name: jenkins
    state: latest

- name: Start Jenkins
  systemd:
    name: jenkins
    enabled: true
    state: started
  ignore_errors: true
- name: Fetch initial admin token
  fetch:
    src: "{{ admin_token_file }}"
    dest: /home/ansible/jenkins-admintoken.txt
    flat: yes
